Thumbs.db
Thumbs.db.meta

/*.orig.*
/obj/Debug/*.*
/Builds/
/Temp/
/Library/
/*.db.meta
/*.gp4
/Assets/FMODStudioCache.asset
/Assets/StreamingAssets/*.bank
/fmod.log
/fmod_editor.log
.idea/*.*
*.DotSettings
/Assets/FMOD/FMODProject/.cache
/Assets/FMOD/FMODProject/.user
/Assets/FMOD/FMODProject/.unsaved
/Assets/FMOD/FMODProject/Build.meta

*.pidb
*.sln
.DS_Store
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.suo

/Assets/FMOD/FMODProject/Build
*.bank
*.bank.meta
*.strings.bank
*.strings.bank.meta
